{% extends 'template.html' %}

{% block content %}
<div class="container">
      <form action="" method="post">
        <input type="text" placeholder="Is yeri" name="sirket" value="{{
          request.form.sirket }}">
          <br>
          <input type="text" placeholder="Pozisyon" name="posizyon" value="{{
          request.form.posizyon }}">
          <br>
          <input type="text" placeholder="Sure" name="sure" value="{{
          request.form.sure }}">
          <br>

        <input class="btn btn-default" type="submit" value="Ekle">

      </form>
{% endblock %}