
{% extends 'template.html' %}

{% block content %}
	<div class="container">
      <h1>Please fill in the blank fields below</h1>
      <br>
      <form action="/events/{{event[0]}}/update" method="post">
        <input type="text" placeholder="Event name" name="event_name" value="{{
          event[2] }}" required>
         <input type="text" placeholder="Event date" name="event_date" value="{{
          event[3] }}" required>
         <input type="text" placeholder="Event location" name="event_location" value="{{
          event[4] }}" required>
        <input class="btn btn-default" type="submit" value="Update">
      </form>
      <form action="/events/{{event[0]}}/delete" method="post">
        <input class="btn btn-default" type="submit" value="Delete">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
{% endblock %}

