
{% extends 'template.html' %}

{% block content %}
	<div class="container">
	  <img src={{image[1]}} width=1280 height=720></img></a>
      <h1>Enter new url:</h1>
      <br>
      <form action="/events/{{event_id}}/images/{{image[0]}}/update" method="post">
        <input type="text" placeholder="Image URL" name="image_url" value="{{
          image[1] }}" required>
        <input class="btn btn-default" type="submit" value="Update">
      </form>
      <form action="/events/{{event_id}}/images/{{image[0]}}/delete" method="post">
        <input class="btn btn-default" type="submit" value="Delete">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
{% endblock %}

