{% extends 'template.html' %}

{% block content %}
<div id="search-form">
		<form action="" method="post">
        <input type="text" name="post_word" value="{{
          request.form.post_word }}"/>
		<input class="float-left submit-button" type="submit" value="Post"/>
        </form>
	</div>
	<table style="width:100%" border=" 1px solid black">
  <tr>
    <th>Post Id</th>
    <th>User Id</th>
    <th>Post</th>

  </tr>
  {% for post in post_list %}
  <tr>

    <td>{{ post[0]}}</td>
    <td>{{ post[1]}}</td>
    <td>{{ post[2]}}</td>
  </tr>
	{% endfor %}

</table>

<a href="/comment">Click for comment oprations</a>
	<p> To update a post </p>
	    <button id="update" class="float-left submit-button" >Update a Post</button>

		<script type="text/javascript">
		    document.getElementById("update").onclick = function () {
		        location.href = "../update_post";
		    };
		</script>

		<p> Delete a post</p>
	    <button id="delete" class="float-left submit-button" >Delete a Post</button>

		<script type="text/javascript">
		    document.getElementById("delete").onclick = function () {
		        location.href = "../delete_post";
		    };
		</script>
{% endblock %}
