{% extends 'template.html' %}

{% block content %}
	{% if session != None %}
		<div class="container">

	    <p> If you want to update your account info, you can do it by clicking on the button below </p>
	    <button id="update" class="float-left submit-button" >Update</button>

		<script type="text/javascript">
		    document.getElementById("update").onclick = function () {
		        location.href = "../update_user";
		    };
		</script>

		<p> If you want to delete your account info, you can do it by clicking on the button below </p>
	    <button id="delete" class="float-left submit-button" >Delete your account</button>

		<script type="text/javascript">
		    document.getElementById("delete").onclick = function () {
		        location.href = "../delete_user";
		    };
		</script>
		
		<p> Is tecrubesi eklemek icin tiklayin </p>
	    <button id="tecrube_ekle" class="float-left submit-button" >Tecrube ekle</button>

		<p> Is tecrubesi silmek icin tiklayin </p>
	    <button id="tecrube_sil" class="float-left submit-button" >Tecrube sil</button>
		<script type="text/javascript">
		    document.getElementById("tecrube_ekle").onclick = function () {
		        location.href = "../isTecrubesi";
		    };
		    document.getElementById("tecrube_sil").onclick = function () {
		        location.href = "../isTecrubesiOperations";
		    };
		</script>

		<p> If you want to add or remove your social media account info, you can do it by clicking on the buttons below </p>
	    <button id="add social accounts" class="float-left submit-button" >Add or update profile informations</button>
	    <button id="remove social account info" class="float-left submit-button" >Remove profile informations</button>

		<script type="text/javascript">
		    document.getElementById("add social accounts").onclick = function () {
		        location.href = "../social_accounts";
		    };

		    document.getElementById("remove social account info").onclick = function () {
		        location.href = "../remove_social_accounts";
		    };
		</script>

		<style type="text/css">
			table, th, td {
			    border: 1px solid black;
			    padding: 5px;
			}
			table {
			    border-spacing: 15px;
			}
		</style>

		<table style="width:100%">
		  <tr>
		    <th>Facebook</th>
		    <th>Twitter</th>
		    <th>Instagram</th>
		  </tr>
		  <tr>
		    <td>{{facebook}}</td>
		    <td>{{twitter}}</td>
		    <td>{{instagram}}</td>
		  </tr>
		</table>



	    <div>
	    	<table style="width:100%" border=" 1px solid black">
  <tr>
    <th>Ilk Okul</th>
    <th>Lise</th>
    <th>Universite</th>

  </tr>

    {% if egitimArray %}
    <tr>
    <td>{{ egitimArray[0][0]}}</td>
	<td>{{ egitimArray[0][1]}}</td>
    <td>{{ egitimArray[0][2]}}</td>

  </tr>
	{% endif %}



</table>
	    </div>
		<div>
	    	<table style="width:100%" border=" 1px solid black">
			  <tr>
			    <th>Is yeri</th>
			    <th>Pozisyon</th>
			    <th>Sure</th>

			  </tr>
				{% for is in isTecrubesi %}
			    <tr>
			    <td>{{ is[0]}}</td>
				<td>{{ is[1]}}</td>
			    <td>{{ is[2]}}</td>

			  </tr>
				{% endfor %}


			</table>
	    </div>
	    </div>

	{% elif session == None %}
		<div class="container">

	    <p> You are not logged in </p>

	    </div>

    {% endif %}

    {%if not (guitar == False and basketball == False and football == False) and session != None %}
			<table style="width:100%">
			  <tr>
			    <th>Guitar</th>
			    <th>Basketball</th>
			    <th>Football</th>
			  </tr>
			  <tr>
			    <td>{{guitar}}</td>
			    <td>{{basketball}}</td>
			    <td>{{football}}</td>
			  </tr>
			</table>
	{%endif%}

{% endblock %}



