<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
	<title>Aligram</title>
	<meta http-equiv="Content-Language" content="en-us" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<meta name="description" content="Description" />
	<meta name="keywords" content="Keywords" />
	<meta name="author" content="robojiannis" />

	<style type="text/css" media="all">@import "../static/style.css";</style>
</head>

<body>

<div id="page-container">

	<div id="header">
	<h1><a href="#">Aligram</a></h1>
	<h2>bringing people together</h2>
	</div>
	
	<div id="search-form">
		<form action="" method="get">
			<input type="text" class="s" />
			<input type="submit" value="search" class="btnSearch" />
		</form>
	</div>
	
	<div id="menu">
	<ul>
		<li><a href="../">Home</a></li>
		<li><a href="/profile">My Profile</a></li>
	</ul>
	</div>
	
	
	<div id="sidebar">
			<img src="../static/images/defaultpp.png" alt="default profile page">

			<h3>Social Accounts</h3>
			<ul>
			<li><a href="http://www.facebook.com" target="_blank">www.facebook.com <a></li>
			<li><a href="http://www.twitter.com" target="_blank">www.twitter.com <a></li>
			<li><a href="http://www.instagram.com" target="_blank">www.instagram.com <a></li>
			</ul>


			<h3>Hobbies</h3>
			<ul>
			<li><a>Tennis <a></li>
			<li><a>Basketball <a></li>
			<li><a>Football <a></li>

			</ul>
	<!-- <br /> <a href="#">Forgot your password?</a> -->
	<!--
		<h2>Archives</h2>
		<p><a href="#">April 2008</a></p>
		<p><a href="#">March 2008</a></p>
		<p><a href="#">February 2008</a></p>
		<p><a href="#">January 2008</a></p>
		<h2>Meta</h2>
		Author		
	</div>
	-->

	<div id="content">

	</div>

	<div id="footer">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">My Profile</a></li>
		</ul>
	</div>
	<div id="altnav">
		(C) 2016. Aligram</a>
	</div>

</div>
</body>
</html>