{% extends 'template.html' %}

{% block content %}

	<div class="container">
      <form action="" method="post">
        <!--
        <input type="checkbox" name="facebook" value="Bike"> I want to delete facebook account info<br>
        <input type="checkbox" name="twitter" value="Car"> I want to delete twitter account info<br>
        <input type="checkbox" name="instagram" value="Car"> I want to delete instagram account info<br>
        -->
        <p>You want to delete your social account info. Are you sure?</p>
        <input class="btn btn-default" type="submit" value="Yes">

      </form>


    </div>
{% endblock %}