<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
	<title>Aligram</title>
	<meta http-equiv="Content-Language" content="en-us" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<meta name="description" content="Description" />
	<meta name="keywords" content="Keywords" />
	<meta name="author" content="robojiannis" />

	<style type="text/css" media="all">@import "/static/style.css";</style>
</head>

<body>
	

<div id="page-container">

	{% if session != None %}
  
    <input type="image" src="../static/images/logout.png" id="logout" style="width:7%; border:0px; margin-left:90%; margin-top:5%" >
    <script type="text/javascript">
          document.getElementById("logout").onclick = function () {
              location.href = "/logout";
          };
    </script>


  	{% endif %}

	<div id="header">
	<h1><a href="#">Aligram</a></h1>
	<h2>bringing people together</h2>
	</div>

	<script type="text/javascript">
	    document.getElementById("btnSearch").onclick = function () {
	        location.href = "/search";
	    };
	</script>

	<div id="menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/profile">My Profile</a></li>
		<li><a href="/myGallery">My Gallery</a></li>
		<li><a href="/post">Posts</a></li>
		<li><a href="/search">Search</a></li>
		<li><a href="/events">Events</a></li>
	</ul>
	</div>



	<div >
		{% block content %}
        {% endblock %}
	</div>

	<div id="footer">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/profile">My Profile</a></li>
			<li><a href="/myGallery">My Gallery</a></li>
			<li><a href="/post">Posts</a></li>
			<li><a href="/search">Search</a></li>
			<li><a href="/events">Events</a></li>
		</ul>
	</div>
	<div id="altnav">
		(C) 2016. Aligram</a>
	</div>

</div>
</body>
</html>
