{% extends 'template.html' %}

{% block content %}



      <table style="width:100%" border=" 1px solid black">
  <tr>
    <th>Search Id</th>
    <th>User Id</th>
    <th>Word</th>

  </tr>
  {% for search in search_list %}
  <tr>

    <td>{{ search[0]}}</td>
    <td>{{ search[1]}}</td>
    <td>{{ search[2]}}</td>

  </tr>
{% endfor %}
</table>
	<div class="container">
      <br>
      <form action="" method="post">
      	<input type="text" placeholder="ID of the search you want to update" name="id" value="{{
          request.form.id }}">
        <input type="text" placeholder="New Text" name="text" value="{{
          request.form.text }}">
        <input class="btn btn-default" type="submit" value="search_update">

      </form>
    </div>
{% endblock %}